{% extends 'base.html.twig' %}

{% block title %}Edit Gift{% endblock %}

{% block body %}
    <h1>Edit Gift</h1>

    {{ include('gift/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
