<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% block stylesheets %}
        <style>
            /* Ajoutez des styles personnalisés ici */
            body {
                background-color: #f0f0f0;
            }

            .navbar {
                background-color: #007bff; /* Couleur de fond de la barre de navigation */
                color: white; /* Couleur du texte de la barre de navigation */
            }

            .navbar-brand img {
                width: 100px; /* Ajustez la taille de votre logo */
                margin-right: 10px; /* Espacement entre le logo et le texte */
            }
        </style>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 70px;">
    <div class="navbar-brand">
        <img src="https://iili.io/J2aBohu.th.png" alt=" Logo">

    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    <ul style="display: inline-flex; list-style: none;">
        <!-- Ajoutez vos éléments de menu ici -->
    </ul>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
